@media only screen and (max-width: 991px){
	body>nav>div>button:hover,
	body>nav>div>button:focus{
		background: coral;
	}

	#navbarSupportedContent > ul {
		margin: 1rem;
		justify-content: flex-end;
		align-items: flex-end;
		text-align: right;
	}

	#navbarSupportedContent > ul > li:nth-child(n) > a {
		padding: 10px 0;
	}

	.dropdown-menu {
		border: none;
	}

	.dropdown-toggle::after {
    position: absolute;
    right: 45px;
}




}

@media only screen and (max-width: 768px){
	#cart table tbody input {
	width: 50%!important;
	}

	#cart table td h5 {
		font-size: .8rem;
	}
}